h1 {
    color: rgb(11, 11, 11);
    text-align: center;
}

/* Container for all project cards */
.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

/* Individual project card */
.project {
    width: 260px;
    margin: 10px;
    padding: 20px 10px;
    background: rgba(245, 239, 239, 0.918);
    border-radius: 25%;
    text-align: center;
}

/* Images inside project cards */
.project img {
    width: 300px;
    height: 300px;
    border: 2px solid rgb(126, 14, 201);
    display: block;
    margin: 0 auto;
